header.banner-home{
  background: url("../img/img-MastHead.png") no-repeat center center;
  padding-top: 32%;
  padding-bottom: 37%;

}

a{
	color: #ccc;
	 font-size: 10px; 
}

a:hover{
	color: #ccc;
	font-size: 12px; 
}

